<main class="esports-home bg-dark text-white d-flex align-items-center justify-content-center" style="min-height: 100vh;">
  <section class="register-section bg-black p-5 rounded shadow " style="max-width: 600px; width: 100%;">
    <h2 class="section-title mb-4 text-center">Log in</h2>
    <form>
      <div class="mb-3">
        <label for="username" class="form-label text-white">Nombre de usuario</label>
        <input type="text" class="form-control bg-secondary text-white border-0" id="username" placeholder="Introduce tu nombre de usuario">
      </div>

      <div class="mb-3">
        <label for="password" class="form-label text-white">Contraseña</label>
        <input type="password" class="form-control bg-secondary text-white border-0" id="password" placeholder="********">
      </div>

      <button type="submit" class="btn btn-outline-light w-100">Entrar</button>
    </form>
  </section>
</main>
